@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700;800&family=Roboto:wght@400;700&display=swap");

// colors
$bg-color: rgba(248, 248, 248, 1);
$pale-yellow: rgba(239, 215, 111, 1);
$dark-yellow: rgba(18, 15, 0, 1);
$gray: rgba(131, 131, 131, 1);
$dark-gray: rgba(105, 96, 96, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

// font-famiy
$ff-font1: "Open Sans", sans-serif;
$ff-font2: "Segoe UI", sans-serif;

// font-weight
$fw-regular: 400;
$fw-bold: 700;
$fw-extrabold: 800;

// font-size
$fs-xl: rem(80);
$fs-l: rem(40);
$fs-m: rem(16);
$fs-s: rem(15);
$fs-xs: rem(14);
$fs-xxs: rem(12);

// padding
$padding-x: rem(20);

// navbar height
$nb-height: rem(88);
